.tableRow {
  border-bottom: 2px solid #f2f8f8;
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 8px;
  line-height: 1.16;
  color: #52555f;
  cursor: default;
}

.minus {
  margin-right: 5px;
}

.tableDataSum {
  font-size: 12px;
  font-weight: 700;
}

.button {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .tableRow {
    position: relative;

    width: 280px;
  }

  .tableRow td:not(:nth-child(2)) {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .tableDataDate {
    vertical-align: bottom;
  }

  .tableDataDescription {
    position: absolute;
    top: 15%;
    left: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
  }

  .tableDataCategory {
    vertical-align: bottom;
    width: 82px;
  }

  .tableDataSum {
    text-align: right;
    padding-right: 10px;
  }

  .tableDataBtn {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .tableRow {
    width: 624px;
    height: 32px;

    font-size: 12px;
  }

  .tableDataDate {
    max-width: 40px;
    padding-left: 15px;
    text-align: left;
  }

  .tableDataDescription {
    width: 150px;

    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tableDataSum {
    text-align: right;
  }

  .button {
    width: 32px;
    height: 32px;
    padding: 7px;
  }

  .button:hover {
    border-radius: 50%;
    background-color: #f5f6fb;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .tableDataDate {
    max-width: 25px;
  }

  .tableDataSum {
    text-align: center;
  }
}
