.tableRow {
  border-bottom: 2px solid #f2f8f8;
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 8px;
  line-height: 1.16;
  color: #52555f;
}

.button {
  border: none;
  background-color: transparent;
}

.tableDataSum {
  font-size: 12px;
  font-weight: 700;
}

.minus {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .tableRow {
    position: relative;

    width: 280px;
  }

  .tableRow td:not(:nth-child(2)) {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .tableDataDate {
    vertical-align: bottom;
  }

  /* .tableDataDescription {
    position: absolute;
    top: 15%;
    left: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
  } */

  .tableDataCategory {
    text-align: left;
    vertical-align: bottom;
    width: 82px;
  }

  .tableDataSum {
    text-align: right;
    padding-right: 10px;
  }

  .tableDataBtn {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .tableRow {
    width: 746px;
    height: 32px;
    /* position: absolute; */
    font-size: 12px;
  }

  .button {
    width: 32px;
    height: 32px;
    padding: 7px;
  }

  .button:hover {
    border-radius: 50%;
    background-color: #f5f6fb;
    cursor: pointer;
  }
  /* .tableDataDescription {
          position: absolute;
          top: 15%;
          left: 0;
          padding: 0;
          font-size: 12px;
          font-weight: 700;
        } */
}
