.table {
  width: 746px;
  height: 38px;
  margin-left: 32px;
  margin-top: 60px;

  border-collapse: collapse;
}
@media screen and (max-width: 768px) {
  .table {
    max-width: 624px;
    max-height: 38px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.table th {
  width: 746px;
  height: 38px;
  font-weight: bold;
  padding: 5px;
  background: #f5f6fb;
  border: none;
  border-bottom: 5px solid #f2f8f8;
}
thead {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}

.table td {
  border: none;
  border-bottom: 2px solid #f2f8f8;
  width: 746px;
  height: 32px;
}
@media screen and (max-width: 768px) {
  .table td {
    max-width: 624px;
    max-height: 38px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

tbody {
  text-align: center;
  border: 2px solid #f2f8f8;
  overflow: scroll;
}
.table thead tr th:first-child {
  border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
  border-radius: 0 20px 0 0;
}
