.dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 40px;
  background-color: white;
  color: white;
  padding: 2px 20px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 14px;
  color: #c7ccdc;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #f5f6fb;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  padding: 0;
  position: absolute;
  background-color: white;
  min-width: 170px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownItem {
  /* color: inherit; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 14px;
  color: #c7ccdc;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f5f6fb;
  color: #52555f;
}

@media screen and (max-width: 767px) {
  .dropbtn {
    width: 280px;
    height: 44px;
    border: 2px solid #ffffff;
    border-bottom-right-radius: 25px;
    background: #f5f6fb;
  }
}
