.chartView {
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .chartView {
    padding: 20px 15px;
  }
}

@media screen and (min-width: 1280px) {
  .chartView {
    padding: 20px 150px;
  }
}

.chartResponsiveContainer {
  margin: 0 auto;
}

.chart {
  margin: 0 auto;
}

.chartMobileWrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
