/* .container {
  display: flex;
  flex-direction: column;
  align-items: center; */
/* height: 100vh; */
/* justify-content: flex-end; */
/* margin-top: auto; */

/* background: #ffffff; */
/* shadow 1 */
/* 
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px; */
/* } */

.rel {
  position: relative;
}

.ab {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.balanceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageName {
  display: none;
}

@media screen and (min-width: 768px) {
  /* .rel{
    position:unset ;
  } */
  .balanceBlock {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .container {
    /* height: 100vh; */

    background-color: #fff;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 10px 60px rgb(170 178 197 / 20%);
    padding: 28px 30px 48px 31px;
  }

  /* .stats {
    margin-top: 48px;
  } */

  .ab {
    position: relative;

    align-items: center;
    height: 40px;
    /* margin: 58px auto 0; */
    z-index: inherit;
  }
}
.content {
  flex: 1 0 auto;
}
.buttonCont {
  flex: 0 0 auto;
  display: block;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* display: flex; */
    /* width: 1034px; */
    /* height: 100vh; */
    /* background-color: #fff;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 10px 60px rgb(170 178 197 / 20%);
    padding: 28px 30px 48px 31px; */
  }

  .overlaySummery {
    display: flex;
  }
}
