.list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.listItem {
  margin-right: 30px;
  font-size: 25px;
}

.navLink {
  display: flex;
  color: black;
}

.activeStyle {
  color: green;
  text-decoration: none;
}
