.nav {
  margin: 0 auto;
  width: 100%;
}

.button {
  width: 49.5%;
  height: 53px;
  background: #fafbfd;
  border: none;
}
.button_first {
  margin-right: 3px;
  width: 49.5%;
  height: 53px;
  background: #fafbfd;

  border-radius: 20px 20px 0px 0px;

  border: none;
  color: #ffffff;
}

.link {
  font-weight: 700;
  text-decoration: none;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 14px;

}

.activeLink {
  cursor: default;
  /* composes: link; */
  color: #e61e17;
}

@media screen and (min-width: 768px) {
  .nav {
    width: auto;
  }
  .button {
    width: 138px;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
  }
  .button_first {
    margin-right: 0;
    width: 138px;
    height: 40px;
    border-radius: 20px 20px 0px 0px;
  }
}
