.buttonLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.buttonGoBack {
  border: none;
  border: none;
  display: flex;
  height: 26px;
  align-items: center;
}

.buttonText {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .buttonLink {
    padding: 0;
    margin-top: 16px;
  }
}
