.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* width: 85px; */
  /* min-width: 85px; */
  /* max-width: 105px; */

  text-decoration: none;
}
.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 5px;
  margin-bottom: 5px;

  color: #52555f;
}
.category {
  letter-spacing: 0.02em;
}
