/* тут должна быть нормализация стилей */
body {
  background-color: #ffffff;
  color: #52555f;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.17;
  margin: 0;
}

/* Utilities */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
main,
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
/* .authBlock {
  position: relative;
} */
.background-top {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 285px;
  /*check*/
  background-color: #f2f5fc;
  border-bottom-left-radius: 120px;
}
.background-bottom {
  position: absolute;
  bottom: 0;
  min-height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url('../images/kapusta_bottom.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
@media screen and (min-width: 768px) {
  /* tablet */
  .background-bottom {
    position: absolute;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('../images/kapusta_bottom.png');
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

.background-top {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 527px;
  /*check*/
  background-color: #f2f5fc;
  border-bottom-left-radius: 120px;
}

.home-mob-wrap {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  /* mobile */
  .background-top {
    height: 286px;
  }

  .background-top_for-mobile {
    height: 330px;
  }

  .home-mob-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  /* tablet */
  .container {
    max-width: 695px;
  }
}

@media screen and (min-width: 1280px) {
  /* desktop */
  .container {
    padding-left: 87px;
    padding-right: 110px;
    max-width: 1280px;
  }
}
