.wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
}

.list {
  display: flex;
  margin: 7px 0px 7px 0px;
}

.listItem {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.listItem:first-child {
  border-right: 1px solid #e0e5eb;
}

.expenses {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #e53935;
}

.income {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #407946;
}

@media screen and (max-width: 771px) {
  .wrapper {
    background-color: white;
  }

  .listItem:first-child {
    padding: 20px 15px 25px 13px;
  }

  .listItem:last-child {
    padding: 20px 10px 25px 13px;
  }
}

@media screen and (min-width: 772px) {
  .listItem {
    display: flex;
    padding: 15px 20px 15px 20px;
  }

  .expenses {
    margin-left: 15px;
  }

  .income {
    margin-left: 15px;
  }
}