.container {
  width: 230px;
  height: 278px;

  background-color: grey;
  border-radius: 20px;
  border-bottom-left-radius: 0;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    margin-left: 51px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0;
    margin-left: 0px;
  }
}

.title {
  font-weight: 700;
  letter-spacing: 0.02em;

  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 2px solid white;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 12px 22px;

  text-transform: uppercase;
  color: $text-color-secondary;
  border-bottom: 2px solid white;
}
